# sid_address_verification

**Tag**: mobile

## 简介

A Source ID location tracking/ address verification Flutter package. Refer to home page for more details

## 官网

- 主页: https://github.com/sourceidtechorg/sid-flutter-address-verification
- pub.dev: https://pub.dev/packages/sid_address_verification

## 历史版本号

- 0.0.6 (2025-12-15)
- 0.0.5 (2025-12-08)
- 0.0.4 (2025-11-27)
- 0.0.3 (2025-08-19)
- 0.0.2 (2025-08-09)
- 0.0.1 (2025-08-09)

## 获取地址

- pub.dev: https://pub.dev/packages/sid_address_verification
- pub 安装: `dart pub add sid_address_verification`
- Flutter 安装: `flutter pub add sid_address_verification`
- 最新版本: 0.0.6
- 最新版归档: https://pub.dev/api/archives/sid_address_verification-0.0.6.tar.gz
- 版本锁定: `sid_address_verification: ^0.0.6`
- 中央仓库: https://pub.dev/
