# kyc_verification

**Tag**: mobile

## 简介

A reusable KYC verification Flutter package

## 官网

- 主页: https://github.com/gayathribalraj/kyc_package
- pub.dev: https://pub.dev/packages/kyc_verification

## 历史版本号

- 0.0.1 (2025-11-25)

## 获取地址

- pub.dev: https://pub.dev/packages/kyc_verification
- pub 安装: `dart pub add kyc_verification`
- Flutter 安装: `flutter pub add kyc_verification`
- 最新版本: 0.0.1
- 最新版归档: https://pub.dev/api/archives/kyc_verification-0.0.1.tar.gz
- 版本锁定: `kyc_verification: ^0.0.1`
- 中央仓库: https://pub.dev/
