# gst_verification

**Tag**: mobile

## 简介

A flutter plugin to verify GST number in your flutter applications.

## 官网

- 主页: https://appyflow.in/verify-gst
- pub.dev: https://pub.dev/packages/gst_verification

## 历史版本号

- 2.0.2 (2022-05-27)
- 2.0.1 (2021-06-19)
- 2.0.0 (2021-03-29)
- 1.0.2 (2019-08-13)
- 1.0.1 (2019-08-13)

## 获取地址

- pub.dev: https://pub.dev/packages/gst_verification
- pub 安装: `dart pub add gst_verification`
- Flutter 安装: `flutter pub add gst_verification`
- 最新版本: 2.0.2
- 最新版归档: https://pub.dev/api/archives/gst_verification-2.0.2.tar.gz
- 版本锁定: `gst_verification: ^2.0.2`
- 中央仓库: https://pub.dev/
