# captcha_verification

**Tag**: mobile, security

## 简介

A Flutter package for verifying the captcha from user for better security

## 官网

- 主页: https://github.com/flutterwings304/captcha_verification
- pub.dev: https://pub.dev/packages/captcha_verification

## 历史版本号

- 0.0.1+1 (2024-01-05)
- 0.0.1 (2024-01-04)

## 获取地址

- pub.dev: https://pub.dev/packages/captcha_verification
- pub 安装: `dart pub add captcha_verification`
- Flutter 安装: `flutter pub add captcha_verification`
- 最新版本: 0.0.1+1
- 最新版归档: https://pub.dev/api/archives/captcha_verification-0.0.1%2B1.tar.gz
- 版本锁定: `captcha_verification: ^0.0.1+1`
- 中央仓库: https://pub.dev/
