# bynn_id_verification

**Tag**: mobile

## 简介

BynnIDVerification is a powerful SDK that enables seamless identity verification in your Flutter applications

## 官网

- 主页: https://www.bynn.com
- pub.dev: https://pub.dev/packages/bynn_id_verification

## 历史版本号

- 1.0.0 (2025-07-17)

## 获取地址

- pub.dev: https://pub.dev/packages/bynn_id_verification
- pub 安装: `dart pub add bynn_id_verification`
- Flutter 安装: `flutter pub add bynn_id_verification`
- 最新版本: 1.0.0
- 最新版归档: https://pub.dev/api/archives/bynn_id_verification-1.0.0.tar.gz
- 版本锁定: `bynn_id_verification: ^1.0.0`
- 中央仓库: https://pub.dev/
