# email_verification

**Tag**: mobile

## 简介

A package for handling email verification in Flutter apps.

## 官网

- pub.dev: https://pub.dev/packages/email_verification

## 历史版本号

- 0.0.1 (2025-01-20)

## 获取地址

- pub.dev: https://pub.dev/packages/email_verification
- pub 安装: `dart pub add email_verification`
- Flutter 安装: `flutter pub add email_verification`
- 最新版本: 0.0.1
- 最新版归档: https://pub.dev/api/archives/email_verification-0.0.1.tar.gz
- 版本锁定: `email_verification: ^0.0.1`
- 中央仓库: https://pub.dev/
