# full_identity_verification

**Tag**: mobile

## 简介

Flutter plugin for Blusalt Full Identity Verification SDK that supports both Android and iOS platforms.

## 官网

- 主页: https://app.blusalt.net
- pub.dev: https://pub.dev/packages/full_identity_verification

## 历史版本号

- 3.0.0 (2026-09-14)
- 2.1.8 (2026-06-26)
- 2.1.7 (2026-06-24)
- 2.1.6 (2026-06-24)
- 2.1.5 (2026-06-15)
- 2.1.4 (2026-06-13)
- 2.1.3 (2026-06-13)
- 2.1.2 (2026-06-13)
- 2.1.1 (2026-06-07)
- 1.2.1 (2026-06-03)
- 1.2.0 (2026-06-02)
- 1.1.14 (2026-03-17)
- 1.1.13 (2026-03-17)
- 1.1.12 (2026-03-17)
- 1.1.11 (2026-03-04)
- 1.1.10 (2026-03-04)
- 1.1.9 (2026-03-04)
- 1.1.8 (2026-03-04)
- 1.1.7 (2026-01-30)
- 1.1.6 (2026-01-12)
- 1.1.5 (2026-01-12)
- 1.1.4 (2026-01-10)
- 1.1.2 (2026-01-06)
- 1.1.1 (2025-12-31)
- 1.1.0 (2025-12-31)
- 1.0.1 (2025-12-23)
- 1.0.0 (2025-12-22)
- 0.1.13 (2025-11-23)
- 0.1.12 (2025-11-17)
- 0.1.11 (2025-11-12)
- 0.1.9 (2025-11-08)
- 0.1.8 (2025-11-08)
- 0.1.7 (2025-11-07)
- 0.1.6 (2025-11-06)
- 0.1.5 (2025-11-06)
- 0.1.4 (2025-11-06)
- 0.1.3 (2025-11-03)
- 0.1.2 (2025-11-03)
- 0.1.1 (2025-11-03)
- 0.1.0 (2025-10-31)

## 获取地址

- pub.dev: https://pub.dev/packages/full_identity_verification
- pub 安装: `dart pub add full_identity_verification`
- Flutter 安装: `flutter pub add full_identity_verification`
- 最新版本: 3.0.0
- 最新版归档: https://pub.dev/api/archives/full_identity_verification-3.0.0.tar.gz
- 版本锁定: `full_identity_verification: ^3.0.0`
- 中央仓库: https://pub.dev/
