# new_raven_verification

**Tag**: mobile

## 简介

Raven bank mobile KYC plugin

## 官网

- pub.dev: https://pub.dev/packages/new_raven_verification

## 历史版本号

- 0.0.5 (2024-02-09)
- 0.0.3 (2024-02-03)
- 0.0.2 (2024-02-03)
- 0.0.1 (2024-02-03)

## 获取地址

- pub.dev: https://pub.dev/packages/new_raven_verification
- pub 安装: `dart pub add new_raven_verification`
- Flutter 安装: `flutter pub add new_raven_verification`
- 最新版本: 0.0.5
- 最新版归档: https://pub.dev/api/archives/new_raven_verification-0.0.5.tar.gz
- 版本锁定: `new_raven_verification: ^0.0.5`
- 中央仓库: https://pub.dev/
