# blusalt_document_verification

**Tag**: mobile

## 简介

Document Verification SDK for Android and IOS

## 官网

- 主页: https://github.com/Blusalt-FS/Document-Verification-Only-Flutter
- pub.dev: https://pub.dev/packages/blusalt_document_verification

## 历史版本号

- 0.1.4 (2026-01-30)
- 0.1.3 (2026-01-30)
- 0.1.2 (2026-01-30)
- 0.1.1 (2025-08-19)
- 0.1.0 (2024-07-01)
- 0.0.11 (2024-05-09)
- 0.0.10 (2024-05-05)
- 0.0.9 (2024-05-05)
- 0.0.8 (2024-05-05)
- 0.0.7 (2024-02-20)
- 0.0.6 (2024-02-19)
- 0.0.5 (2024-02-16)
- 0.0.4 (2024-02-15)
- 0.0.3 (2024-02-14)
- 0.0.2 (2024-02-10)
- 0.0.1 (2024-02-09)

## 获取地址

- pub.dev: https://pub.dev/packages/blusalt_document_verification
- pub 安装: `dart pub add blusalt_document_verification`
- Flutter 安装: `flutter pub add blusalt_document_verification`
- 最新版本: 0.1.4
- 最新版归档: https://pub.dev/api/archives/blusalt_document_verification-0.1.4.tar.gz
- 版本锁定: `blusalt_document_verification: ^0.1.4`
- 中央仓库: https://pub.dev/
