# phone_otp_verification

**Tag**: mobile, ui

## 简介

This Flutter package is a one-stop solution for apps requiring seamless phone verification and efficient OTP (One-Time Password) verification.

## 官网

- 主页: https://github.com/Akotox/phone_otp_verification.git
- pub.dev: https://pub.dev/packages/phone_otp_verification

## 历史版本号

- 1.0.3 (2024-01-19)
- 1.0.2 (2024-01-19)
- 1.0.1 (2024-01-19)
- 1.0.0 (2024-01-19)

## 获取地址

- pub.dev: https://pub.dev/packages/phone_otp_verification
- pub 安装: `dart pub add phone_otp_verification`
- Flutter 安装: `flutter pub add phone_otp_verification`
- 最新版本: 1.0.3
- 最新版归档: https://pub.dev/api/archives/phone_otp_verification-1.0.3.tar.gz
- 版本锁定: `phone_otp_verification: ^1.0.3`
- 中央仓库: https://pub.dev/
