# document_selfie_verification

**Tag**: mobile, ui

## 简介

This widget provides a comprehensive solution for capturing and verifying both documents and selfies within a Flutter application. It seamlessly integrates camera access, image processing, and validation features to ensure a smooth user experience.

## 官网

- 主页: https://github.com/tyba-co/document_selfie_verification
- pub.dev: https://pub.dev/packages/document_selfie_verification

## 历史版本号

- 0.0.42 (2024-11-07)
- 0.0.41 (2024-09-05)
- 0.0.40 (2024-09-03)
- 0.0.39 (2024-09-03)
- 0.0.38 (2024-08-13)
- 0.0.37 (2024-08-13)
- 0.0.36 (2024-08-13)
- 0.0.35 (2024-07-30)
- 0.0.34 (2024-07-09)
- 0.0.33 (2024-06-19)
- 0.0.31 (2024-03-07)
- 0.0.30 (2024-03-04)
- 0.0.29 (2024-02-29)
- 0.0.28 (2024-02-27)
- 0.0.27 (2024-02-26)
- 0.0.26 (2024-02-26)
- 0.0.25 (2024-02-23)
- 0.0.24 (2024-02-23)
- 0.0.23 (2024-02-23)
- 0.0.22 (2024-02-23)
- 0.0.21 (2024-02-22)
- 0.0.20 (2024-02-22)
- 0.0.19 (2024-02-22)
- 0.0.18 (2024-02-22)
- 0.0.17 (2024-02-21)
- 0.0.16 (2024-02-21)
- 0.0.15 (2024-02-21)
- 0.0.14 (2024-02-20)
- 0.0.13 (2024-02-19)
- 0.0.12 (2024-02-16)
- 0.0.11 (2024-02-14)
- 0.0.10 (2024-02-13)
- 0.0.9 (2024-02-13)
- 0.0.8 (2024-02-08)
- 0.0.7 (2024-02-08)
- 0.0.5 (2024-02-07)
- 0.0.4 (2024-02-07)
- 0.0.3 (2024-02-06)
- 0.0.2 (2024-02-06)
- 0.0.1 (2024-02-06)

## 获取地址

- pub.dev: https://pub.dev/packages/document_selfie_verification
- pub 安装: `dart pub add document_selfie_verification`
- Flutter 安装: `flutter pub add document_selfie_verification`
- 最新版本: 0.0.42
- 最新版归档: https://pub.dev/api/archives/document_selfie_verification-0.0.42.tar.gz
- 版本锁定: `document_selfie_verification: ^0.0.42`
- 中央仓库: https://pub.dev/
