# tensorflow_face_verification

**Tag**: library

## 简介

AI Powered Face Verification (Face Embedding & Comparison)

## 官网

- 主页: https://github.com/waihanko/tensorflow_face_verification
- pub.dev: https://pub.dev/packages/tensorflow_face_verification

## 历史版本号

- 0.1.2 (2025-06-01)
- 0.1.1 (2025-06-01)
- 0.1.0 (2025-06-01)
- 0.0.1 (2025-06-01)

## 获取地址

- pub.dev: https://pub.dev/packages/tensorflow_face_verification
- pub 安装: `dart pub add tensorflow_face_verification`
- Flutter 安装: `flutter pub add tensorflow_face_verification`
- 最新版本: 0.1.2
- 最新版归档: https://pub.dev/api/archives/tensorflow_face_verification-0.1.2.tar.gz
- 版本锁定: `tensorflow_face_verification: ^0.1.2`
- 中央仓库: https://pub.dev/
