# phone_verification

**Tag**: library

## 简介

Phone Number verification package.

## 官网

- 主页: https://github.com/AryamanGurjar/phone_verification
- pub.dev: https://pub.dev/packages/phone_verification

## 历史版本号

- 0.0.1 (2022-06-23)

## 获取地址

- pub.dev: https://pub.dev/packages/phone_verification
- pub 安装: `dart pub add phone_verification`
- Flutter 安装: `flutter pub add phone_verification`
- 最新版本: 0.0.1
- 最新版归档: https://pub.dev/api/archives/phone_verification-0.0.1.tar.gz
- 版本锁定: `phone_verification: ^0.0.1`
- 中央仓库: https://pub.dev/
