# auto_sms_verification

**Tag**: web, mobile

## 简介

Flutter package for automatic OTP verification using SMS Retriever API, enhancing user experience on Android.

## 官网

- 主页: https://github.com/developer-shubham101/AutoSMSVerification-Flutter
- pub.dev: https://pub.dev/packages/auto_sms_verification

## 历史版本号

- 0.0.8 (2025-01-13)
- 0.0.7 (2024-07-30)
- 0.0.6 (2024-07-30)
- 0.0.5 (2024-07-30)
- 0.0.4 (2024-03-05)
- 0.0.3 (2021-12-07)
- 0.0.2 (2021-12-06)
- 0.0.1 (2021-12-06)

## 获取地址

- pub.dev: https://pub.dev/packages/auto_sms_verification
- pub 安装: `dart pub add auto_sms_verification`
- Flutter 安装: `flutter pub add auto_sms_verification`
- 最新版本: 0.0.8
- 最新版归档: https://pub.dev/api/archives/auto_sms_verification-0.0.8.tar.gz
- 版本锁定: `auto_sms_verification: ^0.0.8`
- 中央仓库: https://pub.dev/
