# testreport

**Tag**: web, serialization, testing

## 简介

This library can be used to process the results of dart tests. It processes data from the `json` output emitted by the dart test runner and provide an API to the test results.

## 官网

- 主页: https://github.com/TOPdesk/dart-testreport
- pub.dev: https://pub.dev/packages/testreport

## 历史版本号

- 2.0.1 (2022-01-05)
- 2.0.0 (2022-01-05)
- 1.2.0 (2020-01-26)
- 1.1.0 (2019-12-05)
- 1.0.0 (2019-01-31)
- 0.3.1 (2018-07-20)
- 0.3.0 (2017-09-20)
- 0.2.0 (2016-06-02)
- 0.1.0 (2016-05-16)

## 获取地址

- pub.dev: https://pub.dev/packages/testreport
- pub 安装: `dart pub add testreport`
- Flutter 安装: `flutter pub add testreport`
- 最新版本: 2.0.1
- 最新版归档: https://pub.dev/api/archives/testreport-2.0.1.tar.gz
- 版本锁定: `testreport: ^2.0.1`
- 中央仓库: https://pub.dev/
