# sysmo_verification

**Tag**: mobile

## 简介

A reusable KYC verification Flutter package

## 官网

- 主页: https://github.com/gayathribalraj/Sysmo_Verification
- pub.dev: https://pub.dev/packages/sysmo_verification

## 历史版本号

- 0.0.21 (2026-05-05)
- 0.0.20 (2026-03-30)
- 0.0.19 (2026-03-30)
- 0.0.18 (2026-03-25)
- 0.0.17 (2026-03-17)
- 0.0.16 (2026-03-10)
- 0.0.15 (2026-02-27)
- 0.0.14 (2026-02-24)
- 0.0.13 (2026-02-20)
- 0.0.12 (2026-02-19)
- 0.0.11 (2026-02-09)
- 0.0.10 (2026-02-06)
- 0.0.9 (2026-02-04)
- 0.0.8 (2026-01-30)
- 0.0.7 (2026-01-28)
- 0.0.6 (2026-01-27)
- 0.0.5 (2026-01-25)
- 0.0.4 (2026-01-23)
- 0.0.3 (2026-01-05)
- 0.0.2 (2025-11-27)

## 获取地址

- pub.dev: https://pub.dev/packages/sysmo_verification
- pub 安装: `dart pub add sysmo_verification`
- Flutter 安装: `flutter pub add sysmo_verification`
- 最新版本: 0.0.21
- 最新版归档: https://pub.dev/api/archives/sysmo_verification-0.0.21.tar.gz
- 版本锁定: `sysmo_verification: ^0.0.21`
- 中央仓库: https://pub.dev/
