# blusalt_identity_verification

**Tag**: mobile

## 简介

A new Flutter package project.

## 官网

- 主页: https://www.blusat.net
- pub.dev: https://pub.dev/packages/blusalt_identity_verification

## 历史版本号

- 0.0.1 (2021-06-04)

## 获取地址

- pub.dev: https://pub.dev/packages/blusalt_identity_verification
- pub 安装: `dart pub add blusalt_identity_verification`
- Flutter 安装: `flutter pub add blusalt_identity_verification`
- 最新版本: 0.0.1
- 最新版归档: https://pub.dev/api/archives/blusalt_identity_verification-0.0.1.tar.gz
- 版本锁定: `blusalt_identity_verification: ^0.0.1`
- 中央仓库: https://pub.dev/
